<div class="flex-container secondary-lighter-grad spacing-around-v">
  <div class="left col-12">
    <anu-card class="col-12 spacing">
      <anu-card-title *ngIf="!route.firstChild">
        <h1>{{ pageMeta?.title }}</h1>
      </anu-card-title>
      <anu-card-body *ngIf="!route.firstChild">
        <p>
          {{ pageMeta?.description }}
        </p>
      </anu-card-body>
      <anu-card-footer class="row spacing-around-v right">
        <ng-container *ngIf="route.firstChild">
          <div class="col-12 center">
            <h1>Article Form</h1>
            <p>Update article details and publish.</p>
          </div>
          <div class="row stretch">
            <a [routerLink]="['.']">{{ ARROWS.LEFT }} Back to Articles</a>
            <a [routerLink]="['add']">Add new Article</a>
          </div>
        </ng-container>
        <div *ngIf="!route.firstChild" class="row stretch">
          <a [routerLink]="['../']">{{ ARROWS.LEFT }} Back to Dashboard</a>
          <a [routerLink]="['add']">Add new Article</a>
        </div>
      </anu-card-footer>
    </anu-card>
  </div>
</div>

<div class="flex-container spacing-around-v" *ngIf="!route.firstChild">
  <div class="left col-12">
    <anu-search-box
      class="container"
      [items]="articles"
      [keys]="searchKeys"
      (changed)="onSearch($event)"
    >
    </anu-search-box>

    <!-- Filters Start-->
    <anu-collapsible
      class="border spacing container"
      [collapsed]="false"
      [isDropdownStyle]="true"
      [hamBurgerClassNames]="['size-sm']"
    >
      <anu-collapsible-header>FILTERS</anu-collapsible-header>
      <anu-collapsible-content>
        <anu-filters
          [filters]="articlesFilters"
          (changed)="articlesFiltersChanged($event)"
          class="articles-filters"
        ></anu-filters>
      </anu-collapsible-content>
    </anu-collapsible>
    <!-- Filters End -->

    <label>Results: {{ filteredArticles.length }}/{{ articles.length }}</label>
    <div class="row results">
      <!-- <anu-article-list class="col-12" [items]="filteredArticles" href="./"></anu-article-list> -->

      <div
        *ngFor="let art of filteredArticles"
        class="col-sm-12 col-md-6 col-lg-6"
      >
        <anu-article
          class="shadow spacing-around-v"
          [titleHref]="[art?.id || '']"
          [updateHref]="[art?.id || '']"
          [value]="art"
          [showDescription]="false"
          [showImage]="false"
        >
        </anu-article>
      </div>

      <anu-error
        *ngIf="error"
        [code]="error?.code"
        [message]="error?.message"
      ></anu-error>
      <anu-spinner [show]="loading"></anu-spinner>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
