:host {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 5rem;
    width: 100%;

    .category-container {
        background-size: 100% auto;
        background-repeat: no-repeat;
    }

    .category-card {
        opacity: 0.95;
    }
}
