<div class="flex-container">
    <h1 class="col-12 left">My Dashboard</h1>
</div>

<div *ngIf="!route.firstChild" class="flex-container secondary-lighter-bg">
    <div class="left col-12">
        <p>Manage your profile and authored articles.</p>
    </div>
</div>
<div class="flex-container">
    <div class="row" *ngIf="!route.firstChild">
        <!--My Articles-->
        <anu-card *ngIf="isAuthor" class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
            <anu-card-title>
                <h2>My Articles</h2>
            </anu-card-title>
            <anu-card-body>
                Manage your articles.
            </anu-card-body>
            <anu-card-footer>
                <div class="container right">
                    <a [routerLink]="['manage-stories']">Manage my articles</a><br />
                    <a [routerLink]="['manage-stories', 'add']">Add new Article</a>
                </div>
            </anu-card-footer>
        </anu-card>

        <!--My Categories-->
        <anu-card *ngIf="isAdmin" class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
            <anu-card-title>
                <h2>My Categories</h2>
            </anu-card-title>
            <anu-card-body>
                Manage your categories for your articles.
            </anu-card-body>
            <anu-card-footer>
                <div class="container right">
                    <a [routerLink]="['manage-categories']">Manage my categories</a><br />
                    <a [routerLink]="['manage-categories', 'add']">Add new Category</a>
                </div>
            </anu-card-footer>
        </anu-card>

        <!--Manage sitemap-->
        <anu-card *ngIf="isAdmin" class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
            <anu-card-title>
                <h2>Manage sitemap</h2>
            </anu-card-title>
            <anu-card-body>
                Update sitemap with the current site urls.
            </anu-card-body>
            <anu-card-footer>
                <div class="container right">
                    <a [routerLink]="['manage-sitemap']">Manage sitemap</a>
                </div>
            </anu-card-footer>
        </anu-card>

        <!--Manage Open ai articles-->
        <anu-card *ngIf="isAdmin" class="col-sm-12 col-md-6 col-lg-4 shadow spacing" [routerLinkActive]="'active'">
            <anu-card-title>
                <h2>Autogenerate Articles</h2>
            </anu-card-title>
            <anu-card-body>
                Auto generate articles using Openai
            </anu-card-body>
            <anu-card-footer>
                <div class="container right">
                    <a [routerLink]="['openai-articles']">Openai Articles</a>
                </div>
            </anu-card-footer>
        </anu-card>

        <!--User with no roles-->
        <anu-card *ngIf="!isAdmin && !isAuthor" class="col-12 shadow spacing" [routerLinkActive]="'active'">
            <anu-card-title>
                <h2>If you have flare towards writing and sharing your knowledge to the world, you have landed on the
                    right platform.</h2>
            </anu-card-title>
            <anu-card-body>
                You can write and publish your knowledge to the world, and also get an opportunity to earn for your
                contribution.
                To know more about how you can be a part of huge community of authors, please read, how to become an
                author?
            </anu-card-body>
            <anu-card-footer>
                <div class="container right">
                    <a [routerLink]="['..','stories', 'how-to-become-an-author']">How to become an
                        author?</a>
                </div>
            </anu-card-footer>
        </anu-card>

        <!--User Help docs -->
        <anu-card class="col-12 shadow spacing" [routerLinkActive]="'active'">
            <anu-card-title>
                <h2>Need Help? Below are the steps to get started.</h2>
            </anu-card-title>
            <anu-card-body>
                <div class="flex-container spacing-around-vertical">
                    <div *ngIf="helpArticles" class="col-12">
                        <div *ngFor="let art of helpArticles" class="category-articles">
                            <anu-article [value]="art" [showMetaInfo]="false" [showDescription]="true"
                                [descriptionCharCount]="300" [titleHref]="['..', 'stories', art.id || '']"
                                [readMoreHref]="['..', 'stories', art.id || '']"></anu-article>
                        </div>
                    </div>
                    <div *ngIf="!helpArticles && errorMessage" class="col-12">
                        <anu-error [code]="errorCode" [message]="errorMessage"></anu-error>
                    </div>
                </div>
            </anu-card-body>
            <anu-card-footer>
                <div class="container right">
                    <a [routerLink]="['..', 'stories', 'how-to-become-an-author']">How to become an
                        author?</a>
                </div>
            </anu-card-footer>
        </anu-card>
    </div>
    <div class="row" *ngIf="route.firstChild">
        <a [routerLink]="['./']">{{'<< Back to dashboard'}}</a>
    </div>
</div>
