:host {
    width: 100%;

    .category-home-page {
        &_card {
            transition: all 0.3s ease-in-out;
            overflow: auto;
            cursor: pointer;

            anu-card-title h2 {
                color: var(--anu-accent-deep-light);
                line-height: 1.5;
            }

            &:hover {
                background: var(--anu-secondary-lighter);
            }
        }

        &_article-card {
            transition: all 0.1s ease-in-out;
            overflow: auto;

            anu-card-title h2 {
                color: var(--anu-accent-deep-light);
                line-height: 1.5;
            }

            &:hover {
                background: var(--anu-primary-deep-light);
            }
        }
    }
}
